@import url('https://fonts.cdnfonts.com/css/opendyslexic');

#access-wrapper {
    position: fixed;
    right: 0;
    top: 35%;
}

#access-button {
    background: linear-gradient(90deg, #5515C2 7.55%, rgba(142, 21, 194, 0.913071) 22.75%, #F56928 99.3%);
    border-radius: 10px;
    cursor: pointer;
    padding: 9px;
}

#modal-access-menu {
    position: fixed;

    right: 43px;
    top: 15%;
}

.modal-content {
    color: white;
    background-color: rgb(212, 81, 29);
}

.modal-backdrop {
    background-color: transparent;
}

.modal-body {
    justify-content: center;
}

.linha-acess {
    margin: 5px 0px;
    display: flex;
}

.bloco-full {
    width: 100%;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    color: black;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.bloco-icon {
    display: inline-block;
    width: 49%;
    text-align: center;
    background-color: white;
    color: #316181;
    align-items: center;
    font-size: 60px;
    margin-right: 1%;
    border-radius: 10px;
    padding-bottom: 20px;
}

.active-icon {
    color: rgb(182, 182, 182);
    background-color: rgb(255, 72, 0) !important;
}

.bloco-icon:hover {
    cursor: pointer;
    color: #25475e;
}

.bloco-icon~.bloco-icon {
    display: inline-block;
    width: 49%;
    text-align: center;
    background-color: white;
    align-items: center;
    font-size: 60px;
    margin-right: 0%;
    margin-left: 1%;
    border-radius: 10px;
    padding-bottom: 20px;
}

.bloco-half {
    display: inline-block;
    min-height: 114px;
    width: 48%;
    margin-right: 1%;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    color: black;
}

.bloco-half~.bloco-half {
    display: inline-block;
    width: 49%;
    margin-left: 1%;
    margin-right: 0%;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    color: black;
}

.bloco-texto {
    text-align: center;
    padding: 20px 19px 10px 15px;
    opacity: 0.5;
    transition: all .2s ease-in-out;
    color: #316181;
}

.active-texto {
    opacity: 1;
}



.bloco-texto img {
    margin-bottom: 10px;
}

.bloco-texto:hover {
    transform: scale(1.1);
}

.indicator {
    margin: 0 2px;
    height: 6px;
    width: 6px !important;
    background: #316181;
    border-radius: 50%;
    filter: opacity(.5);
    transition: .5s
}

.active-indicator {
    background: rgb(255, 72, 0) !important;
}

.contInvert {
    filter: invert(100%);
}

.dark-theme {
    background-color: #232323 !important;
    color: lightseagreen !important;
}

.dislexia {
    font-family: 'OpenDyslexic3', sans-serif !important;
}

.espaco1 {
    word-spacing: 0.16em !important;
    letter-spacing: 0.12em !important;
}

.espaco2 {
    word-spacing: 0.24em !important;
    letter-spacing: 0.18em !important;
}

.espaco3 {
    word-spacing: 0.32em !important;
    letter-spacing: 0.24em !important;
}

.zoom1 {
    font-size: calc(110%);
}

.zoom2 {
    font-size: calc(120%);
}

.zoom3 {
    font-size: calc(130%);
}

.zoom4 {
    font-size: calc(140%);
}
